@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,800,700,300);
@import "lesshat/lesshat.less";

@color-border: #d8d8d8;
@fontBase: "Open Sans", sans-serif;

/**
 ** Admin styles
 **/

.onet-right-block {
	width:300px;
	position:absolute;
	right:20px;
	.orte-box {
		.hndle { cursor: default; }
		.handlediv { display: none; }
	}
}
.onet-left-block {
	float:none;
	width:auto;
	margin-right: 330px;
}

.onet-admin-header {
	font-family: @fontBase !important;
	color: #6e6e6e !important;
	padding-left: 35px !important;
	background: url("../img/ico_24.png") 0 11px no-repeat;
}

.onet-admin-panel {
	background: #fbf9f9;
	border: 1px solid @color-border;
	.border-radius(4px);
	//.box-shadow(~"inset 0 0 0 1px #f6f6f6, inset 0 0 6px 0 rgba(179, 179, 179, 0.47), 1px 1px 6px 0 rgba(0, 0, 0, 0.05);");

	abbr {
		border-bottom: 1px dotted #9E9E9E;
		cursor: help;
		}
	h1.category {
		font-size: 14px;
		font-weight: 600;
		color: #5c;
		border-bottom: 1px solid @color-border;
		border-top: 1px solid @color-border;
		line-height: 36px;
		margin: -1px 0 0 0;
		padding: 0 0 0 12px;
		background-color: rgb(241, 241, 241);
		position: relative;
		font-family: @fontBase;
		text-shadow: 0 1px 0 #fff;
		.box-shadow(~"inset 0 1px 0 0 rgba(255,255,255,0.7), 0 1px 0 0 #fff");
		.gradient(~"linear-gradient(180deg, #f5f5f5 0%,#e8e8e8 100%)");

		&:first-child {
			border-top: none;
			margin-top: 0;
			.border-radius(5px 5px 0 0);
		}
	}

	.content {
		text-shadow: 1px 1px 0 #fff;	
		color: #333;
		.box-shadow(~"inset 0 2px 5px 0 rgba(0, 34, 0, 0.02)");

		.row {
			padding: 10px 14px;
			background: #fcfcfc;
			border-bottom: 1px solid #eee;

			&:nth-child(even) { background: #FFF; }
			&:last-child { border-bottom: 0; }
			.left {
				float: left;
				width: 30%;
				label {
					font-weight: 400;
					.user-select(none);
					.transition(~"all .2s 0 ease-in-out");
					&:hover { color: #1891D5; }
					&.inactive { cursor: default; }
				}
			}

			.right {
				float: right;
				width: 70%;
				padding-bottom: 5px;

				& > span.error {
					display: block;
					line-height: 17px;
				}
				&.advanced {
					label.onet-radioWrap {
						width: 200px;
						margin: 0 5px 0 0;
						text-align: center;
						.user-select(none);
						.box-shadow(~"inset 0 -1px 0 rgba(0, 0, 0, 0.05)");
						
						& > input { display: none; }
						span.title { padding: 0 17px; }
						& img {
							width: 200px;
							height: 150px;
							display: block;
							margin: 5px 0 10px 0;
							.opacity(.7);
							.transition(~"all .2s 0 ease-in-out");
						}
						&:hover img { .opacity(0.85); }
						&.checked {
							img { .opacity(1); }
							span.title {
								font-weight: bold;
								background: url('../img/stick.png') 0 3px no-repeat;
							}
						}
					}
				}

				.sublabel {
					line-height: 20pt;
					padding: 0px 0px 0px 10px;
				}
			}
		}
	}
	.onet-input {
		color: #777;
		line-height: 18px;
		position: relative;
		top: 3px;
		border: 1px solid #cfcfcf;

		&:hover, &:active {
			border: 1px solid rgb(36, 159, 255);
			color: rgb(36, 150, 255);
		}
	}
}


.onet-help {
	border: 1px solid #bebebe;
	display: inline-block;
	background: white;
	font-size: 13px;
	line-height: 21px;
	position: relative;
	width: 20px;
	text-align: center;
	top: 3px;
	left: 15px;
	cursor: help;
	.box-shadow(~"inset 0 1px 0 rgba(255,255,255,1), inset 0 -1px 0 rgba(0,0,0,.12),0 1px 0 rgba(0,0,0,0.07)");
	.border-radius(15px);
	
	.text { color: #7D7D7D; }
	.bubble {
		display: block;
		position: absolute;
		z-index: 100;
		right: 23px;
		padding: 5px 7px;
		width: 250px;
		text-align: left;
		font-size: 11px;
		line-height: 13px;
		background: #fff;
		color: #888;
		border: 1px solid #bebebe;
		font-style: italic;
		top: -100000px;
		.opacity(0);
		.box-shadow(~"2px 2px 7px #cdcdcd");
		.border-radius(3px);
		.transition(~"opacity .2s .1s ease-in-out");
	}
	&:hover .bubble {
		top: -1px;
		height: auto;
		.opacity(1);
	}
}

.onet-radioWrap {
	background: #fff;
	display: inline-block;
	line-height: 30px;
	font-size: 12px;
	padding: 0 10px;
	border: 1px solid rgb(221, 221, 221);
	.border-radius(5px);
	}

/**
 ** ON/OF BUTTONS 
 **/
.onet-button {
	font-family: @fontBase;
	font-size: 12px;
	text-decoration: none;
	padding: 4px 13px;
	border: none;
	position: relative;
	margin: 0;
	cursor: pointer;
	text-transform: uppercase;
	outline: 0;
	.transition(~"all .2s ease-in-out");

	&.active, &:active { text-decoration: none; }
	&.on {
		color: #7A7A7A;
		background: #fff;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		.box-shadow(~"inset -1px 1px 0 #DDD7D7, 0 3px 0 0 #CCC, 0 4px 3px #A2A2A2");

		&:hover { background: #FAFAFA; }
		&:active, &.on.active {
			color: #fff;
			top: 2px;
			background: #269DC9;
			.box-shadow(~"inset 0 1px 0 #2AB7EC, 0 2px 0 0 #156785, 0 2px 1px #999");
			text-shadow: 0 0 9px #FFF,0 0 9px #FFF;
		}
	}

	&.off {
		color: #7A7A7A;
		background: #fff;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		.box-shadow(~"inset -1px 1px 0 #DDD7D7, 0 3px 0 0 #CCC, 0 4px 3px #A2A2A2");
		
		&:hover { background: #FAFAFA; }
		&:active, &.active {
			top: 2px;
			background: rgb(250, 255, 107);
			.box-shadow(~"inset -1px 1px 0 rgb(219, 226, 52), 0 2px 0 0 rgb(199, 204, 77), 0 2px 1px rgb(255, 255, 0), inset 0 0 10px rgba(255,255,255,.6)");
			text-shadow: 0 0 10px #fff;
		}
	}
}


@media all and (min-width: 100px) and (max-width: 1175px) {
	.onet-right-block { display: none; }
	.onet-left-block { margin-right: 0; }
}