.oabmt-default.wrap {
	position: fixed;
	z-index: 999990; /** higher than WP nav z-index **/
	display: none;
	top: 0px; bottom: 0px;
	left: auto; right: 0px;
	width: 25px;
	background: white;
	border-left: 1px solid rgb(202, 196, 196);
	box-shadow: 0px 0px 25px rgba(20, 20, 20, 0.11);
	}
.oabmt-default.btn {
	
	}
.oabmt-default.wrap.active { display: block; }
.oabmt-default.wrap .listWrap { margin-top: 35px; }
.oabmt-default.wrap .list { position: relative; }
.oabmt-default.wrap .list li {
	max-width: 600px;
	white-space: nowrap;
	position: relative;
	float: right;
	overflow: hidden;
	text-overflow: ellipsis;
	}
.oabmt-default.wrap .list li.itemText {
	background: #fff;
	padding: 5px 10px;
	font-size: 130%;
	text-transform: uppercase;
	box-shadow: -2px 1px 2px rgb(211, 211, 211);
	margin-bottom: 4px;
	z-index: 999998;
	}
.oabmt-default.wrap .list li.itemText:hover { box-shadow: -2px 1px 1px rgb(211, 211, 211); }
.oabmt-default.wrap .list li.item {
	cursor: pointer;
	padding: 5px 10px;
	margin: 3px 0px;
	background: #fff;
	color: rgb(151, 151, 151);
	box-shadow: -2px 1px 2px rgb(211, 211, 211);
	z-index: 999997;

	/* Prevent client to be able to select text*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
.oabmt-default.wrap .list li.type1 {
	font-size: 115%;
	border-left: 2px solid rgb(40, 245, 12);
	}
.oabmt-default.wrap .list li.type2 {
	font-size: 112%;
	border-left: 2px solid rgb(102, 171, 226);
	}
.oabmt-default.wrap .list li.type3 {
	font-size: 109%;
	border-left: 2px solid rgb(247, 27, 106);
	}
.oabmt-default.wrap .list li.type4 {
	font-size: 106%;
	border-left: 2px solid rgb(230, 45, 45);
	}
.oabmt-default.wrap .list li.type5 {
	font-size: 103%;
	border-left: 2px solid rgb(45, 230, 163);
	}
.oabmt-default.wrap .list li.type6 {
	font-size: 100%;
	border-left: 2px solid rgb(154, 23, 241);
	}
.oabmt-default.wrap .list li.item.active {
	font-style: italic;
	border-left-width: 5px;
	color: rgb(100, 100, 100);
	box-shadow: -2px 1px 1px rgb(211, 211, 211);
	}